* {
	box-sizing: border-box;  /*Sätt alltid detta i universal 
*/
}

/* Bra default värden att deklarera */
body {
	margin: 0;

	color: rgba(0, 0, 0, 0.8) /* Man vill ej ha helt svart. bättre med nyanser av mörkt */
	/*font-family: bla bla ; Deklarera en rad standard fonts */
}

/* Använd alltid relativa enheter för padding och margin 1rem = 16px default */

main {
	width: 100%;
	margin: 3rem auto;
}

a {
	text-decoration: none;
}

.card-starwars {
	background-image: url("sw.jpg");

	height: 500px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/*
.card-starwars:hover {
	box-shadow: 0 0 30px 5px #fc2331;
}*/

.tag {
	text-decoration: underline;
	display: block;
	padding: 1em 0 1em 0;
}

.sw-image h2 {
	margin: 0;
}

.sw-image .tag {
	color: #fff;
}

.sw-image {
	color: #fff;
	text-align: center;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sw-link {
	display: inline-block;
	padding: 1em;
	background: #fc2331;
	color: #fff;
	border-radius: 5px;
}

.sw-link:hover {
	background: #d11924;
}

.card-slack {
	width: 100%;
	max-width: 400px;
	margin-top: 3em;
	border: 1px solid #ececec;
	padding: 1em;
	border-radius: 5px;
	float: left;
}

.card-slack h2 {
	margin: 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #215ffc;
}

.card-slack .tag {
	color: blue;
}

.card-slack:hover {
	box-shadow: 0 0 20px 5px #888888;
}

.slack-image {
	width: 100%;
}

.slack-button {
	text-align: center;
}

.slack-link {
	display: inline-block;
	padding: 1em;
	background: #22acfc;
	margin: 0 auto;
	color: #fff;
	border-radius: 5px;
}

.slack-link:hover {
	background: #215ffc;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

/*@media (min-width: 768px) {
	main {
		width: 80%;
	}

	.card-slack {
		width: 30%;
		float: left;
		margin: 2em 5% 2em 0;
	}

	.card-slack:last-child {
		float: right;
		margin-right: 0;
	}

}*/